---
---

<div class="nav-links">
    <a class="text-indigo-900 dark:text-indigo-100" href="/">Home</a>
    <a class="text-indigo-900 dark:text-indigo-100" href="/about/">About</a>
    <a class="text-indigo-900 dark:text-indigo-100" href="/blog/">Blog</a>
    <!-- <a class="text-indigo-900 dark:text-indigo-100" href="/tags/">Tags</a>
    <a class="text-indigo-900 dark:text-indigo-100" href="/work/">Projects</a> -->
    <!-- <a href="/strapi/">Strapi</a>
    <a href="/typicode/">Typicode</a> -->
</div>

<style>
    .nav-links a{
        margin:0 1.4rem 0 0;
        font-weight:bold;
        font-size:1.2rem;
    }
</style>