---
---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
    <a href="/work/">Projects</a>
    <!-- <a href="/strapi/">Strapi</a>
    <a href="/typicode/">Typicode</a> -->
</div>

<style>
    .nav-links a{
        margin:0 1.4rem 0 0;
        font-weight:bold;
        font-size:1.2rem;
    }
</style>