@import "../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Enriqueta&family=Gasoek+One&display=swap');

.body{
    min-width: 54em;
    margin: 0 auto;
    font-family: 'Enriqueta', serif;
}

h1.pageTitle{
    margin-bottom:1rem;
    font-family:'Gasoek One', sans-serif;
    text-transform: uppercase;
}